[Desktop Entry]
Type=Application
Name=Venturi
Comment=Video editor
Exec=vv-app %f
Icon=venturi
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;
MimeType=application/x-venturi-project;
